src/drug_design/data/building_blocks/*.sdf
src/drug_design/data/building_blocks/*.txt
src/drug_design/data/building_blocks/*.pkl
src/drug_design/data/building_blocks/*.csv
results*
*.pyc
*.pyo
rewards.npy
counts.npy
backward/*
